<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Sentiment Analysis</title>
</head>
<body>
    <div class="card text-center">
        <div class="card-header">
        Sentiment Analysis
      </div>
    </div>
    <br><br><br>

    <form action="/analyze" method="post" class="form-inline d-flex justify-content-center">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Enter Text</label>
            <input type="text" class="form-control" name="text" id="inputPassword2" placeholder="Enter text for sentiment analysis">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Analyze Sentiment</button>
    </form>
    <br><br>

    {% if error %}
        <p style="color: red;">Error: Please enter some text for analysis.</p>
    {% endif %}
{%if method %}

<div class="card mx-auto" style="max-width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Sentiment Analysis Result</h5>
        <p class="card-text">Text: {{ user_text }}</p>
        <p class="card-text">Sentiment Score: {{ sentiment_score }}</p>
        {% if sentiment_score >= 0.05 %}
        <p>The sentiment is <strong> positive! </strong></p>
        {% elif sentiment_score <= -0.05 %}
        <p>The sentiment is <strong> negative. </strong></p>
        {% else %}
        <p>The sentiment is <strong>  neutral.</strong></p>
        {% endif %}
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

{%endif%}
</body>
</html>


